body {
  background-color: #F4F5F8;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#F97F46), to(#F84B70));
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

.navbar {
  background: linear-gradient(90deg, #F97F46 0, #F84B70 100%);
}

.brand {
  margin-left: -95px;
}

.active-category {
  background: linear-gradient(90deg, #F97F46 0, #F84B70 100%);
  color: white;
}


.categories {
  width: 60px;
  text-align: center;
}

.menu-card {
  cursor: pointer;
}

.menu-card:hover {
  border: 3px solid #F84B70;
  border-radius: 5px;
}

.bg-food {
  height: 320px;
  border-radius: 4px;
}

.bg-food-name {
  font-size: 12px;
  font-weight: 700;
  width: 220px;
  height: 30px;
  background: white;
  padding: 7px;
  border-radius: 4px;
}

.bg-price {
  font-size: 12px;
  font-weight: 600;
  width: 100px;
  height: 30px;
  color: white;
  background: linear-gradient(90deg, #F97F46 0, #F84B70 100%);
  padding: 7px;
  border-radius: 4px;
}

.text-center {
  background-color: white;
  width: 100vw;
  height: 91vh;
  margin-top: -1px !important;
}

.success-page {
  width: 500px;
  height: 350px;
}

.tax {
  color: #F84B70;
  font-style: italic;
}

.total {
  color: #F84B70 !important;
  margin-left: -30px;
  margin-right: 10px;
}

.menu {
  height: 460px;
}

.order {
  height: 278px;
  cursor: pointer;
}

.btn-items {
  background: none;
  border: none;

}

.btn-items:hover {
  background: none;
  border: none;
}